body {
  background-color: #f5fafd;
}

.mt-10 {
  margin-top: 10px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f5fafd;
  max-width: 80vw;
  margin: 0 auto;
  min-height: 100vh;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 30px;
}

.title h1 {
  color: #222b34;
  font-size: 40px;
  text-align: center;
}

.title p {
  width: 100%;
  color: #8e9dae;
  font-size: 16px;
  text-align: center;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 30px 0;
  color: #313439;
}

form .form-title h1 {
  color: #222b34;
  font-size: 40px;
}

form button:disabled {
  opacity: 60%;
  background-color: #8e9dae;
  border: 1px solid white;
  cursor: auto;
}

form p {
  color: #8e9dae;
  font-size: 16px;
  text-align: center;
}

.mt-50 {
  margin-top: 50px;
}

table {
  border-collapse: collapse;
}

tr {
  border-bottom: 1pt solid #8e9dae;
}

td {
  padding: 20px 0;
}

.btn-confirm {
  background-color: #03a9f4;
  color: white;
  font-size: 16px;
  text-align: center;
  height: 35px;
  border: none;
  border-radius: 4px;
  padding: 0 10px;
  cursor: pointer;
}

.btn-confirm:disabled {
  opacity: 60%;
  background-color: #8e9dae;
  border: 1px solid white;
  cursor: auto;
}

.conclusion {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  margin-top: 30px;
}

.buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  margin-top: 30px;
  margin-bottom: 30px;
  width: 100%;
}

.btn-back {
  background-color: transparent;
  color: white;
  font-size: 16px;
  text-align: center;
  width: 110px;
  height: 35px;
  border: 2px solid #03a9f4;
  color: #03a9f4;
  border-radius: 4px;
  padding: 0;
  cursor: pointer;
}

form textarea {
  width: 400px;
  padding-left: 20px;
  padding-top: 10px;
  margin-left: 10px;
  margin-top: 10px;
  height: auto;
  border-color: #8e9dae;
  border-radius: 4px;
  border-style: solid;
  font-size: 16px;
  resize: none;
  font-family: Arial, Helvetica, sans-serif;
}

form .form-input input,
textarea::placeholder {
  font-size: 16px;
}

.modal-confirm {
  display: none;
  position: fixed;
  z-index: 1;
  top: 25%;
  width: 250px;
  height: 370px;
  padding: 20px;
  overflow: auto;
  background-color: white;
  border: 1px solid #8e9dae;
  border-radius: 4px;
  -webkit-box-shadow: 5px 5px 0px 100vw rgba(0, 0, 0, 0.3);
  box-shadow: 5px 5px 0px 100vw rgba(0, 0, 0, 0.3);
}
.modal-confirm .modal-header {
  color: #0288d1;
}
.modal-confirm .modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  justify-content: space-evenly;
  font-size: 16px;
}
.modal-confirm .modal-body {
  color: #8e9dae;
  text-align: center;
}
.modal-confirm .modal-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
}
.modal-confirm .modal-footer .btn-confirm {
  width: 100%;
  background-color: #0288d1;
  border: none;
  color: white;
  border-radius: 3px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.2s;
  padding: 7px 0px;
}

.modal-confirm .modal-footer .btn-cancel {
  width: 100%;
  background-color: white;
  border: 1px solid #0288d1;
  margin-top: 14px;
  border-radius: 3px;
  color: #0288d1;
  font-size: 16px;
  cursor: pointer;
  transition: 0.2s;
  padding: 7px 0px;
}
